body {
    text-align: center;
    background: linear-gradient(aqua, lightgreen);
}

#logo {
    width: 900px;
    height: 580px;
}

#mycarousel img {
    margin-top: 35px;
}

#mycarousel {
    background-color: aqua;
}

.links {
    display: inline;
    color: chocolate;
    font-family: fantasy;
    font-size: 30px;
    padding-right: 25px;
    padding-left: 34px;
}

ul {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}
